<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="igus_rebel_6dof" >
  
    <xacro:arg name="prefix" default="" />

    <group name="rebel_6dof">
        <link name="world"/>
        <link name="$(arg prefix)base_link"/>
        <link name="$(arg prefix)link_1"/>
        <link name="$(arg prefix)link_2"/>
        <link name="$(arg prefix)link_5"/>
        <link name="$(arg prefix)link_6"/>
        <link name="$(arg prefix)link_7"/>
        <link name="$(arg prefix)link_8"/>
        <joint name="$(arg prefix)joint1"/>
        <joint name="$(arg prefix)joint2"/>
        <joint name="$(arg prefix)joint3"/>
        <joint name="$(arg prefix)joint4"/>
        <joint name="$(arg prefix)joint5"/>
        <joint name="$(arg prefix)joint6"/>
        <joint name="$(arg prefix)joint7"/>
        <chain base_link="world" tip_link="$(arg prefix)link_8"/>
    </group>
    <group_state name="zero" group="rebel_6dof">
        <joint name="$(arg prefix)joint1" value="0"/>
        <joint name="$(arg prefix)joint2" value="0"/>
        <joint name="$(arg prefix)joint3" value="0"/>
        <joint name="$(arg prefix)joint4" value="0"/>
        <joint name="$(arg prefix)joint5" value="0"/>
        <joint name="$(arg prefix)joint6" value="0"/>
    </group_state>
    <virtual_joint name="world_to_base" type="fixed" parent_frame="world" child_link="$(arg prefix)base_link"/>
    <disable_collisions link1="$(arg prefix)base_link" link2="$(arg prefix)link_1" reason="Adjacent"/>
    <disable_collisions link1="$(arg prefix)gripper_base" link2="$(arg prefix)gripper_mount" reason="Adjacent"/>
    <disable_collisions link1="$(arg prefix)gripper_base" link2="$(arg prefix)link_2" reason="Never"/>
    <disable_collisions link1="$(arg prefix)gripper_base" link2="$(arg prefix)link_5" reason="Never"/>
    <disable_collisions link1="$(arg prefix)gripper_base" link2="$(arg prefix)link_6" reason="Never"/>
    <disable_collisions link1="$(arg prefix)gripper_base" link2="$(arg prefix)link_7" reason="Never"/>
    <disable_collisions link1="$(arg prefix)gripper_base" link2="$(arg prefix)link_8" reason="Default"/>
    <disable_collisions link1="$(arg prefix)gripper_mount" link2="$(arg prefix)link_2" reason="Never"/>
    <disable_collisions link1="$(arg prefix)gripper_mount" link2="$(arg prefix)link_5" reason="Never"/>
    <disable_collisions link1="$(arg prefix)gripper_mount" link2="$(arg prefix)link_6" reason="Never"/>
    <disable_collisions link1="$(arg prefix)gripper_mount" link2="$(arg prefix)link_7" reason="Never"/>
    <disable_collisions link1="$(arg prefix)gripper_mount" link2="$(arg prefix)link_8" reason="Adjacent"/>
    <disable_collisions link1="$(arg prefix)link_1" link2="$(arg prefix)link_2" reason="Adjacent"/>
    <disable_collisions link1="$(arg prefix)link_2" link2="$(arg prefix)link_5" reason="Adjacent"/>
    <disable_collisions link1="$(arg prefix)link_2" link2="$(arg prefix)link_6" reason="Never"/>
    <disable_collisions link1="$(arg prefix)link_2" link2="$(arg prefix)link_7" reason="Never"/>
    <disable_collisions link1="$(arg prefix)link_2" link2="$(arg prefix)link_8" reason="Never"/>
    <disable_collisions link1="$(arg prefix)link_5" link2="$(arg prefix)link_6" reason="Adjacent"/>
    <disable_collisions link1="$(arg prefix)link_5" link2="$(arg prefix)link_7" reason="Never"/>
    <disable_collisions link1="$(arg prefix)link_5" link2="$(arg prefix)link_8" reason="Never"/>
    <disable_collisions link1="$(arg prefix)link_6" link2="$(arg prefix)link_7" reason="Adjacent"/>
    <disable_collisions link1="$(arg prefix)link_6" link2="$(arg prefix)link_8" reason="Never"/>
    <disable_collisions link1="$(arg prefix)link_7" link2="$(arg prefix)link_8" reason="Adjacent"/>
</robot>
