<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="igus_rebel_6dof" >

  <!-- Controller settings -->  
  <xacro:arg name="use_mock_hardware" default="true"/>
  <xacro:arg name="use_gazebo" default="false"/>
  <xacro:arg name="use_cprcanv2" default="false"/>  <!-- Default differs in this launch file -->
  <xacro:arg name="use_cri" default="false"/>

  <!-- (Internal) hardware selection  -->
  <xacro:arg name="rebel_version" default="00" />

  <!-- Prefix used for all joints and links, required for multi-robot setups!
  Only change this over the launch file parameters, so the rest of the stack
  knows what joint names to look for. -->
  <xacro:arg name="prefix" default="" />

  <!-- Gripper selection -->
  <xacro:arg name="gripper" default="none" />

  <!-- Enable continuous rotation on the last join. While the last axis can turn continuously,
  it is limited here in case a tool with wiring is mounted. If you are certain that no wiring
  issues can arise you may enable this -->
  <xacro:arg name="continuous_last_joint" default="false" />

  <xacro:arg name="root_link" default="true" />

  <xacro:include filename="$(find irc_ros_description)/urdf/robots/igus_rebel_6dof.macro.xacro" />
  <xacro:igus_rebel_6dof prefix="$(arg prefix)" continuous_last_joint="$(arg continuous_last_joint)" rebel_version="'$(arg rebel_version)'" />

  <xacro:if value="$(arg root_link)">
    <link name="world" />

    <joint name="world_joint" type="fixed">
      <parent link="world" />
      <child link = "base_link" />
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>
  </xacro:if>

  <!-- Grippers -->
  <xacro:include filename="$(find irc_ros_description)/urdf/grippers/$(arg gripper).urdf.xacro" />
  <joint name="$(arg prefix)flange_to_gripper" type="fixed">
    <parent link="$(arg prefix)flange" />
    <child link = "$(arg prefix)gripper_mount" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 ${-pi/2} 0.0" />
  </joint>
</robot>
