# MoveIt uses this configuration for controller management
# Currently controllers.yaml is used instead, as the intended loading of this file does not work

/**:
  ros__parameters:
    moveit_controller_manager: moveit_simple_controller_manager/MoveItSimpleControllerManager

moveit_simple_controller_manager:
  ros__parameters:
    controller_names:
      - rebel_6dof_controller

    rebel_6dof_controller:
      type: FollowJointTrajectory
      action_ns: follow_joint_trajectory
      default: true
      joints:
        - <prefix>joint1
        - <prefix>joint2
        - <prefix>joint3
        - <prefix>joint4
        - <prefix>joint5
        - <prefix>joint6