<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="ext_dio_gripper">

  <xacro:macro name="ext_dio_gripper_ros2_control" params="prefix parent_link hardware_protocol">
    <!-- This gripper only works via CAN -->
    <xacro:if value="${hardware_protocol == 'cprcanv2'}">
      <ros2_control name="gripper_ext_dio_gripper" type="system">
        <hardware>
          <plugin>irc_hardware/IrcRosCan</plugin>
          <param name="can_socket">can0</param> 
        </hardware>
      
        <gpio name="${prefix}dio_ext">
          <param name="can_id">0x90</param>
          <command_interface name="digital_output_0" data_type="bool" />
          <command_interface name="digital_output_1" data_type="bool" />
          <command_interface name="digital_output_2" data_type="bool" />
          <command_interface name="digital_output_3" data_type="bool" />
          <command_interface name="digital_output_4" data_type="bool" />
          <command_interface name="digital_output_5" data_type="bool" />
          <command_interface name="digital_output_6" data_type="bool" />
          <state_interface name="digital_input_0" data_type="bool" />
	  <state_interface name="digital_input_1" data_type="bool" />
	  <state_interface name="digital_input_2" data_type="bool" />
	  <state_interface name="digital_input_3" data_type="bool" />
	  <state_interface name="digital_input_4" data_type="bool" />
	  <state_interface name="digital_input_5" data_type="bool" />
	  <state_interface name="digital_input_6" data_type="bool" />

        </gpio>
      </ros2_control>
    </xacro:if>
  </xacro:macro>
</robot>
