<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="grippers" >
  
  <!-- Include all gripper macros -->
  <xacro:include filename="$(find irc_ros_description)/urdf/grippers/ext_dio_gripper.description.xacro" />
  <xacro:include filename="$(find irc_ros_description)/urdf/grippers/ext_dio_gripper.ros2_control.xacro" />

  <xacro:include filename="$(find irc_ros_description)/urdf/grippers/schmalz_ecbpmi.description.xacro" />

  <xacro:macro name="gripper" params="prefix gripper_type parent_link hardware_protocol">
    <!-- Call macros once -->
    <xacro:if value="${gripper_type == 'ext_dio_gripper'}">
      <xacro:ext_dio_gripper_description prefix="${prefix}" parent_link="${parent_link}" />
      <xacro:ext_dio_gripper_ros2_control prefix="${prefix}" parent_link="${parent_link}" hardware_protocol="${hardware_protocol}" />
    </xacro:if>
    <xacro:if value="${gripper_type == 'schmalz_ecbpmi'}">
      <xacro:schmalz_ecbpmi_description prefix="${prefix}" parent_link="${parent_link}" />
    </xacro:if>
    <xacro:if value="${gripper_type == 'none'}">
      <!-- Make sure tcp exists even if no tool is attached -->
      <joint name="${prefix}flange_to_tcp" type="fixed">
        <parent link="${prefix}flange"/>
        <child link="${prefix}tcp"/>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <axis xyz="0 0 0"/>
      </joint>
      <link name="${prefix}tcp">
        <inertial>
          <mass value="0.1"/>
          <inertia ixx="0.03" ixy="0.0" ixz="0.0" iyy="0.03" iyz="0.0" izz="0.03"/>
        </inertial>
      </link>
    </xacro:if>
  </xacro:macro>
</robot>
