<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="gripper_schmalz_ecbpmi">

  <xacro:macro name="schmalz_ecbpmi_description" params="prefix parent_link">
    <joint name="${prefix}flange_to_gripper" type="fixed">
      <parent link="${parent_link}" />
      <child link = "${prefix}gripper_mount" />
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>
    <link name="${prefix}gripper_mount">
      <visual>
        <geometry>
          <cylinder radius="0.035" length="0.01"/>
        </geometry>
        <origin rpy="0.0 ${pi/2} 0.0" xyz="0.005 0.0 0.0"/>
      </visual>
      <collision>
        <geometry>
          <cylinder radius="0.035" length="0.01"/>
        </geometry>
        <origin rpy="0.0 ${pi/2} 0.0" xyz="0.005 0.0 0.0"/>
      </collision>
      <inertial>
        <mass value="1.0"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
    </link>

    <joint name="${prefix}gripper_mount_joint" type="fixed">
      <parent link="${prefix}gripper_mount" />
      <child link="${prefix}gripper_base" />
      <origin xyz="0.01 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>

    <link name="${prefix}gripper_base">
      <visual>
        <geometry>
          <mesh filename="file://$(find irc_ros_description)/meshes/gripper_schmalz_ecbpmi/Joint0.dae"/>
        </geometry>
        <origin rpy="0.0 0.0 ${pi/2}" xyz="0.07 0.0 0.0"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find irc_ros_description)/meshes/gripper_schmalz_ecbpmi/Joint0Coll.dae"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0.07 0.0 0.0"/>
      </collision>
      <inertial>
        <mass value="1.0"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
    </link>
    <joint name="${prefix}gripper_base_to_tcp" type="fixed">
      <parent link="${prefix}gripper_base"/>
      <child link="${prefix}tcp"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.07341 0.0 0.0"/>
      <axis xyz="0 0 0"/>
    </joint>
    <link name="${prefix}tcp">
      <inertial>
        <mass value="0.1"/>
        <inertia ixx="0.03" ixy="0.0" ixz="0.0" iyy="0.03" iyz="0.0" izz="0.03"/>
      </inertial>
    </link>
  </xacro:macro>
</robot>
