<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find irc_ros_description)/urdf/robots/igus_rebel_6dof_00.description.xacro" />

  <xacro:macro name="igus_rebel_6dof_01_description" params="prefix continuous_last_joint">
    <xacro:igus_rebel_6dof_00_description prefix="${prefix}" continuous_last_joint="${continuous_last_joint}" />
  </xacro:macro>
</robot>