<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="igus_rebel_6dof_00_ros2_control" params="prefix hardware_protocol continuous_last_joint">
    <ros2_control name="igus_rebel_6dof" type="system">
      <hardware>
        <xacro:if value="${hardware_protocol == 'mock_hardware'}">
          <plugin>mock_components/GenericSystem</plugin>
        </xacro:if>
        <xacro:if value="${hardware_protocol == 'gazebo'}">
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </xacro:if>
        <xacro:if value="${hardware_protocol == 'cprcanv2'}">
          <plugin>irc_hardware/IrcRosCan</plugin>
          <param name="can_socket">can0</param>
        </xacro:if>
        <xacro:if value="${hardware_protocol == 'cri'}">
          <plugin>irc_hardware/IrcRosCri</plugin>
          <param name="ip">192.168.3.11</param>
        </xacro:if>
      </hardware>

      <!-- Include the joint module macro -->
      <xacro:include filename="$(find irc_ros_description)/urdf/modules/rebel.ros2_control.xacro" />

      <xacro:rebel_joint name="${prefix}joint1" can_id="0x10" position_min="${-pi*179/180}" position_max="${pi*179/180}" gear_scale="1031.11" />
      <!-- Position limit difference with iRC files due to 30 degree offset in joint 2 and 3 -->
      <xacro:rebel_joint name="${prefix}joint2" can_id="0x20" position_min="${-pi*2/3}" position_max="${pi*2/3}" gear_scale="1031.11" cri_joint_offset="-30" />
      <xacro:rebel_joint name="${prefix}joint3" can_id="0x30" position_min="${-pi*2/3}" position_max="${pi*2/3}" gear_scale="1031.11" cri_joint_offset="-30" />
      <xacro:rebel_joint name="${prefix}joint4" can_id="0x40" position_min="${-pi*179/180}" position_max="${pi*179/180}" gear_scale="-1031.11" />
      <xacro:rebel_joint name="${prefix}joint5" can_id="0x50" position_min="${-pi*19/36}" position_max="${pi*19/36}" gear_scale="1031.11" cri_joint_offset="7.5" />
      <xacro:rebel_joint name="${prefix}joint6" can_id="0x60" position_min="${-pi*179/180}" position_max="${pi*179/180}" gear_scale="-1031.11" continuous_joint="${continuous_last_joint}" />

      <gpio name="${prefix}dio_base">
        <param name="can_id">0x70</param>
        <command_interface name="digital_output_0" data_type="bool" />
        <command_interface name="digital_output_1" data_type="bool" />
        <command_interface name="digital_output_2" data_type="bool" />
        <command_interface name="digital_output_3" data_type="bool" />
        <command_interface name="digital_output_4" data_type="bool" />
        <command_interface name="digital_output_5" data_type="bool" />
        <command_interface name="digital_output_6" data_type="bool" />
        <state_interface name="digital_input_0" data_type="bool" />
        <state_interface name="digital_input_1" data_type="bool" />
        <state_interface name="digital_input_2" data_type="bool" />
        <state_interface name="digital_input_3" data_type="bool" />
        <state_interface name="digital_input_4" data_type="bool" />
        <state_interface name="digital_input_5" data_type="bool" />
        <state_interface name="digital_input_6" data_type="bool" />
      </gpio>

      <gpio name="${prefix}dio_arm">
        <param name="can_id">0x80</param>
        <command_interface name="digital_output_0" data_type="bool" />
        <command_interface name="digital_output_1" data_type="bool" />
        <state_interface name="digital_input_0" data_type="bool" />
        <state_interface name="digital_input_1" data_type="bool" />
      </gpio>
    </ros2_control>
  </xacro:macro>
</robot>
