<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <ros2_control name="cpr_platform_medium" type="system">
    <hardware>
      <xacro:if value="$(arg use_mock_hardware)">
        <plugin>mock_components/GenericSystem</plugin>
      </xacro:if>
      <xacro:if value="$(arg use_gazebo)">
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </xacro:if>
      <xacro:unless value="$(arg use_mock_hardware)">
        <xacro:if value="$(arg use_cprcanv2)">
          <plugin>irc_hardware/IrcRosCan</plugin>
          <param name="can_socket">can0</param>
        </xacro:if>
        <xacro:if value="$(arg use_cri)">
          <plugin>irc_hardware/IrcRosCri</plugin>
          <param name="ip">192.168.3.11</param>
        </xacro:if>
      </xacro:unless>
    </hardware>

    <xacro:din_rail_module name="$(arg prefix)joint_wheel_1" can_id="0x18" gear_scale="33.33" continuous_joint="true" />
    <xacro:din_rail_module name="$(arg prefix)joint_wheel_2" can_id="0x28" gear_scale="-33.33" continuous_joint="true" />
  
  </ros2_control>
</robot>