<!-- Nearly empty file to enable including no gripper via -->
<!-- <xacro:include filename="$(find irc_ros_description)/urdf/gripper_$(arg gripper).urdf.xacro" /> -->
<!-- Only requires the following line for xacro support and the definition of gripper_link -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <link name="$(arg prefix)gripper_mount" />
</robot>