<?xml version="1.0"?>
<robot robot xmlns:xacro="https://wiki.ros.org/xacro"
    name="gripper_ext_dio_gripper">

  <link name="gripper_mount">
    <visual>
      <geometry>
        <cylinder radius="0.035" length="0.01"/>
      </geometry>
      <origin rpy="0.0 ${-pi/2} 0.0" xyz="0.005 0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.035" length="0.01"/>
      </geometry>
      <origin rpy="0.0 ${-pi/2} 0.0" xyz="0.005 0.0 0.0"/>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
  </link>

  <joint name="gripper_mount_joint" type="fixed">
    <parent link="gripper_mount" />
    <child link="gripper_base" />
    <origin xyz="0.01 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <link name="gripper_base">
    <visual>
      <geometry>
        <mesh filename="package://irc_ros_description/meshes/gripper_schmalz_ecbpmi/Joint0.dae"/>
      </geometry>
      <origin rpy="${pi/2} ${-pi/2} 0.0" xyz="0.07 0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://irc_ros_description/meshes/gripper_schmalz_ecbpmi/Joint0Coll.dae"/>
      </geometry>
      <origin rpy="${pi/2} ${-pi/2} 0.0" xyz="0.07 0.0 0.0"/>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
  </link>
  <joint name="joint99" type="fixed">
    <parent link="gripper_base"/>
    <child link="tcp"/>
    <origin rpy="0.0 0.0 0.0" xyz="0.07341 0.0 0.0"/>
    <axis xyz="0 0 0"/>
  </joint>
  <link name="tcp">
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.03" ixy="0.0" ixz="0.0" iyy="0.03" iyz="0.0" izz="0.03"/>
    </inertial>
  </link>
</robot>