<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <ros2_control name="Rebel" type="system">
    <hardware>
      <class>temp</class>
      <plugin>irc_hardware/IrcRosCan</plugin>
      <!-- <plugin>irc_hardware/IrcRosCri</plugin> -->
      <param name="can_socket">can0</param>
    </hardware>
    <joint name="joint1">
      <command_interface name="position">
        <param name="min">${-pi*179/180}</param>
        <param name="max">${pi*179/180}</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-2.16</param>
        <param name="max">2.16</param>
      </command_interface>
      <!-- <command_interface name="torque"/> -->
      <state_interface name="position"/>
      <param name="gear_scale">1443.55</param>
      <param name="controller_type">closed_loop</param>
    </joint>
    <joint name="joint2">
      <command_interface name="position">
        <param name="min">${-pi*2/3}</param>
        <param name="max">${pi*2/3}</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-2.16</param>
        <param name="max">2.16</param>
      </command_interface>
      <!-- <command_interface name="torque"/> -->
      <state_interface name="position"/>
      <param name="gear_scale">1443.55</param>
      <param name="controller_type">closed_loop</param>
    </joint>
    <joint name="joint3">
      <command_interface name="position">
        <param name="min">${-pi*2/3}</param>
        <param name="max">${pi*2/3}</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-2.16</param>
        <param name="max">2.16</param>
      </command_interface>
      <!-- <command_interface name="torque"/> -->
      <state_interface name="position"/>
      <param name="gear_scale">1443.55</param>
      <param name="controller_type">closed_loop</param>
    </joint>
    <joint name="joint4">
      <command_interface name="position">
        <param name="min">${-pi*179/180}</param>
        <param name="max">${pi*179/180}</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-2.16</param>
        <param name="max">2.16</param>
      </command_interface>
      <!-- <command_interface name="torque"/> -->
      <state_interface name="position"/>
      <param name="gear_scale">-1443.55</param>
      <param name="controller_type">closed_loop</param>
    </joint>
    <joint name="joint5">
      <command_interface name="position">
        <param name="min">${-pi*19/36}</param>
        <param name="max">${pi*19/36}</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-2.16</param>
        <param name="max">2.16</param>
      </command_interface>
      <!-- <command_interface name="torque"/> -->
      <state_interface name="position"/>
      <param name="gear_scale">1031.11</param>
      <param name="controller_type">closed_loop</param>
    </joint>
    <joint name="joint6">
      <command_interface name="position">
        <xacro:unless value="$(arg continuous_last_joint)">
          <param name="min">${-pi*179/180}</param>
          <param name="max">${pi*179/180}</param>
        </xacro:unless>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-2.16</param>
        <param name="max">2.16</param>
      </command_interface>
      <!-- <command_interface name="torque"/> -->
      <state_interface name="position"/>
      <param name="gear_scale">-1031.11</param>
      <param name="controller_type">closed_loop</param>
    </joint>

    <gpio name="dio_base">
      <param name="can_id">0x70</param>
      <command_interface name="digital_output" size="7" data_type="bool" />
      <state_interface name="digital_input" size="7" data_type="bool" />
    </gpio>

    <gpio name="dio_arm">
      <param name="can_id">0x80</param>
      <command_interface name="digital_output" size="2" data_type="bool" />
      <state_interface name="digital_input" size="2" data_type="bool" />
    </gpio>

  </ros2_control>
</robot>
