<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="igus_rebel_6dof" >

  <!-- Controller settings, only enable a single one in the launch file -->  
  <xacro:arg name="hardware_protocol" default="cprcanv2"/>

  <!-- Rebel version selection  -->
  <xacro:arg name="rebel_version" default="01" />

  <!-- Enable continuous rotation on the last join. While the last axis can turn continuously,
  it is limited here in case a tool with wiring is mounted. If you are certain that no wiring
  issues can arise you may enable this -->
  <xacro:arg name="continuous_last_joint" default="false" />

  <!-- Prefix used for all joints and links, required for multi-robot setups!
  Only change this over the launch file parameters, so the rest of the stack
  knows what joint names to look for. -->
  <xacro:arg name="prefix" default="" />

  <!-- Gripper selection -->
  <xacro:arg name="gripper" default="none" />

  <!-- Include and call rebel macro -->
  <xacro:include filename="$(find irc_ros_description)/urdf/robots/igus_rebel_6dof.macro.xacro" />
  <xacro:igus_rebel_6dof prefix="$(arg prefix)" continuous_last_joint="$(arg continuous_last_joint)" rebel_version="'$(arg rebel_version)'" hardware_protocol="$(arg hardware_protocol)" />

  <!-- Add world link -->
  <link name="world" />
  <joint name="world_to_$(arg prefix)base" type="fixed">
    <parent link="world" />
    <child link = "$(arg prefix)base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <!-- Grippers -->
  <xacro:include filename="$(find irc_ros_description)/urdf/grippers/grippers.macro.xacro" />
  <xacro:gripper prefix="$(arg prefix)" gripper_type="$(arg gripper)" parent_link="$(arg prefix)flange" hardware_protocol="$(arg hardware_protocol)" />

</robot>
