<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<ros2_control name="igus_rebel_4dof" type="system">
  <hardware>
    <class>temp</class>
    <plugin>irc_hardware/IrcRosCan</plugin>
    <!-- <plugin>irc_hardware/IrcRosCri</plugin> -->
    <!-- For CAN -->
    <param name="can_socket">can0</param> 
    <!-- For CRI -->
    <param name="ip">192.168.3.11</param>
  </hardware>
  <joint name="joint1">
    <command_interface name="position">
      <param name="min">${-pi*179/180}</param>
      <param name="max">${pi*179/180}</param>
    </command_interface>
    <command_interface name="velocity">
      <param name="min">-2.16</param>
      <param name="max">2.16</param>
    </command_interface>
    <!-- <command_interface name="torque"/> -->
    <state_interface name="position"/>
    <param name="gear_scale">-1031.11</param>
    <param name="controller_type">closed_loop</param>
    <param name="can_id">0x10</param>
  </joint>
  <joint name="joint2">
    <command_interface name="position">
      <param name="min">${-pi*2/3}</param>
      <param name="max">${pi*2/3}</param>
    </command_interface>
    <command_interface name="velocity">
      <param name="min">-2.16</param>
      <param name="max">2.16</param>
    </command_interface>
    <!-- <command_interface name="torque"/> -->
    <state_interface name="position"/>
    <param name="gear_scale">1031.11</param>
    <param name="controller_type">closed_loop</param>
    <param name="can_id">0x20</param>
  </joint>
  <joint name="joint3">
    <command_interface name="position">
      <param name="min">${-pi*2/3}</param>
      <param name="max">${pi*2/3}</param>
    </command_interface>
    <command_interface name="velocity">
      <param name="min">-2.16</param>
      <param name="max">2.16</param>
    </command_interface>
    <!-- <command_interface name="torque"/> -->
    <state_interface name="position"/>
    <param name="gear_scale">1031.11</param>
    <param name="controller_type">closed_loop</param>
    <param name="can_id">0x30</param>
  </joint>
  <joint name="joint4">
    <command_interface name="position">
      <param name="min">${-pi*19/36}</param>
      <param name="max">${pi*19/36}</param>
    </command_interface>
    <command_interface name="velocity">
      <param name="min">-2.16</param>
      <param name="max">2.16</param>
    </command_interface>
    <!-- <command_interface name="torque"/> -->
    <state_interface name="position"/>
    <param name="gear_scale">1031.11</param>
    <param name="controller_type">closed_loop</param>
    <param name="can_id">0x40</param>
  </joint>
</ros2_control>
</robot>